<div class="container content">
  <a routerLink="/add">
    <button class="ajouterBtn" mat-flat-button color="accent" (click)="checkLogin()">
      Ajouter Devoir
    </button>
  </a>
  <button class="ajouterBtn" mat-flat-button color="accent" (click)="peuplerBD()">
    Peupler BD
  </button>
</div>

<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" #scroller>
  <mat-list *cdkVirtualFor="let assignment of assignments">
    <nav>
      <mat-card class="example-card" style="margin: 10px" (click)="assignmentClique(assignment)">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" [style]="this.getPicture(assignment)"></div>
          <mat-card-title>{{assignment.nom}}</mat-card-title>
          <mat-card-subtitle>Date de rendu : {{assignment.dateDeRendu |date:'d-MM-YYYY HH:mm:ss'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p appRendu *ngIf="assignment.rendu; else nonSoumis">
            Devoir intitulé {{assignment.nom}} a été rendu.
          </p>
          <ng-template #nonSoumis>
            <p>Le devoir {{assignment.nom}} n'a pas été rendu.</p>
          </ng-template>
          <p>Auteur : {{assignment.auteur}}</p>
          <p *ngIf="assignment.rendu;">Note : {{assignment.note}}</p>
          <p *ngIf="assignment.rendu;">Remarques : {{assignment.remarques}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/assignment/{{this.assignment.id}}">EDIT</button>
        </mat-card-actions>
      </mat-card>

    </nav>
  </mat-list>
</cdk-virtual-scroll-viewport>

<!--
<app-component-detail [assignementTransmis]="assignmentSelectionne"></app-component-detail>
-->