<div class="container content">
  <mat-card *ngIf="assignementTransmis" style="width: 100%;">
    <mat-card-title>{{assignementTransmis.nom}}</mat-card-title>
    <mat-card-subtitle>{{assignementTransmis.dateDeRendu | date}}</mat-card-subtitle>
    <mat-checkbox *ngIf="!assignementTransmis.rendu" (click)="onAssignementRendu()">
      Assignment rendu
    </mat-checkbox>

        <button mat-flat-button color="primary"
                [disabled]="!isAdmin()"
                (click)="onClickEdit()">
          EDIT
        </button>

    <button mat-flat-button color="warn" (click)="onDelete()" [disabled]="!isAdmin()"> 
      DELETE
    </button>
  </mat-card>
</div>
